<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="owner.hotplace">

	<select id="seq" resultType="Integer">
		SELECT hotplace_seq.NEXTVAL FROM dual
	</select>
	
	<insert id="insertHotplace" parameterType="com.sp.owner.hotplace.Hotplace">
		INSERT INTO hotplace(placeNum, placeName, placeDis, placePhoto, placeZip, placeAddr1, placeAddr2, hotelId)
		VALUES(#{placeNum},#{placeName}, #{placeDis}, #{placePhoto}, #{placeZip}, #{placeAddr1}, #{placeAddr2}, #{hotelId})
	</insert>
	
	<select id="selectHotplace" parameterType="map" resultType="com.sp.owner.hotplace.Hotplace">
		SELECT * FROM(
	    	SELECT ROWNUM rnum, tb.* FROM(
	        	SELECT placenum, placename, placedis, placephoto, placezip, placeaddr1, placeaddr2, hotelid 
	        	FROM hotplace
	        	ORDER BY placenum DESC
<![CDATA[
	        	)tb WHERE ROWNUM <= #{end}
		)WHERE rnum >= #{start}
]]>
	</select>
	
</mapper>