<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user.hotel">

	<select id="hotelList" parameterType="String" resultType="com.sp.user.hotel.Hotel">
		SELECT h.hotelId, hotelname, detail, addr1, addr2, mainphoto
		FROM hotel h JOIN hoteldetail d ON h.hotelId = d.hotelId
		WHERE INSTR(addr1,#{addr1})>=1
	</select>

	<select id="hotelDetail" parameterType="map" resultType="com.sp.user.hotel.Hotel">
		SELECT h.hotelName, detail, addr1,addr2,hotelTel, hotelCreated, checkin, checkout,latitude ,longitude,d.hotelid 
		FROM hotel h JOIN hoteldetail d ON h.hotelId = d.hotelid 
            
		WHERE hotelName = #{hotelName}
	</select>
	
	<select id="hotelPhoto" parameterType="map" resultType="com.sp.user.hotel.Hotel">
		SELECT hotelphotoName 
		FROM hotelphoto p 
		JOIN hotel h ON p.hotelId=h.hotelid 
		WHERE hotelName=#{hotelName}
	</select>
	
	<select id="hotelId" parameterType="String" resultType="String">
		select hotelid FROM hotel WHERE hotelName=#{hotelName}
	</select>
	
	<select id="hotelRoomList" parameterType="map" resultType="com.sp.user.hotel.Hotel">
		SELECT DISTINCT roomphotoname, roomprice,maxpeople,roomdetails,roomtype
		FROM roomphoto p JOIN room r ON p.roomnum=r.roomnum
    	JOIN roomdetail d ON d.roomnum = r.roomnum
  		WHERE hotelId=#{hotelId}
	</select>
	

</mapper>