
html, body
{
	/* height: 100%; */
}

body
{
	margin: 0px;
	padding: 0px;
	/* background: #FFC153; */
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #363636;
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
}

p, ol, ul
{
	margin-top: 0px;
}

p
{
	line-height: 190%;
}

strong
{
}

a
{
	color: #171717;
}

a:hover
{
	text-decoration: none;
}

a img
{
	border: none;
}

.image
{
	display: inline-block;
}

.image img
{
	display: block;
	width: 100%;
	border-radius: 8px;
}

.image-full
{
	display: block;
	width: 100%;
	margin: 0 0 2em 0;
}

.image-left
{
	float: left;
	margin: 0 2em 2em 0;
}

.image-centered
{
	display: block;
	margin: 0 0 2em 0;
}

.image-centered img
{
	margin: 0 auto;
	width: auto;
}

hr
{
	display: none;
}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

ul.style1
{
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.style1 li
{
	border-top: 1px solid rgba(0,0,0,.1);
	padding: 0.80em 0;
}

ul.style1 li:first-child
{
	border-top: 0;
	padding-top: 0;
}

ul.style2
{
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.style2 li
{
	border-top: 1px solid rgba(0,0,0,.1);
	padding: 0.80em 0;
}

ul.style2 li:first-child
{
	border-top: 0;
	padding-top: 0;
}

/** LIST STYLE 3 */

ul.style3 {
	margin: 0px;
	padding: 10px 0px 0px 0px;
	list-style: none;
}

ul.style3 li {
	clear: both;
	margin-bottom: 25px;
	padding: 40px 0px 20px 0px;
	border-top: 1px solid #C2C2C2;
}

ul.style3 h3 {
	padding-bottom: 5px;
	font-size: 1.2em;
	color: #262116;
}

ul.style3 p {
	line-height: 150%;
}

ul.style3 .button-style {
	float: left;
	margin-top: 0px;
}

ul.style3 img
{
	float: left;
	margin-right: 3em;
}

ul.style3 .first {
	padding-top: 0px;
	border-top: none;
	box-shadow: none;
}
/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
{
	margin: 0;
	padding: 1.5em 0em 2.5em 0em;
	list-style: none;
}

ul.contact li
{
	display: inline-block;
	padding: 0em 0.10em;
	font-size: 1.5em;
}

ul.contact li span
{
	display: none;
	margin: 0;
	padding: 0;
}

ul.contact li a
{
	color: #FFF;
}

ul.contact li a:before
{
	display: inline-block;
	background: #33333D;
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 40px;
	text-align: center;
	color: #FFFFFF;
}


/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
{
	margin-bottom: 2em;
	text-transform: uppercase;
}

.title h2
{
	letter-spacing: 0.20em;
	font-weight: 700;
	font-size: 2em;
	color: #262116;
}

.title .byline
{
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.90em;
	color: #6F6F6F;
}

/** WRAPPER */

#wrapper
{
	background: #FFFFFF url(images/bg01.png) repeat;
}

#footer-wrapper
{
}

.container
{
	width: 100%;
	margin: 0px auto;
	min-height: 500px;
}

.clearfix
{
	clear: both;
}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

#header-wrapper
{
	overflow: hidden;
	background: #FFC153;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header
{
	position: relative;
	overflow: hidden;
	text-align: center;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo
{
	width: 500px;
	margin: 0 auto;
	padding: 4em 0em;
	text-transform: uppercase;
}

#logo h1
{
	letter-spacing: 0.10em;
	font-size: 3em;
	color: #FFF;
}

#logo p
{
	letter-spacing: 0.10em;
	color: #FFF;
}

#logo a
{
	text-decoration: none;
	color: #FFF;
}

/** MENU */

#menu
{
	height: 80px;
}

#menu ul
{
	padding: 20px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu a
{
	display: block;
	letter-spacing: 1px;
	padding: 10px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.80em;
	font-weight: 600;
	border: none;
	color: black;
}

#menu:first-child li:first-child .sss  
{
	display: block;
	letter-spacing: 1px;
	padding: 10px 30px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.00em;
	font-weight: 600;
	border: none;
	color: red;
	font-family: Arial, Helvetica, sans-serif;
}

/** CONTENT */

#content
{
	float: right;
	width: 790px;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

.body-container{
	min-height: 500px;
	background: #ffffff;
	margin: 0px auto 0px;
	clear: both;

}

#copyright
{
	overflow: hidden;
	padding: 10px;
	text-align: center;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
.footer
{
	text-align: center;
	color: #000000;
}

#menu{
	position: relative; left: 15%; 
}

#menu ul{
	
	height:38px;
	list-style:none;
	margin:0;
	padding:0;
}

#menu li{
	float:left;
}

#menu li ul{
display:none; 
height:auto;
position:absolute;
z-index:200;
/*top:1em;
/*left:0;*/
	
}

#menu li a:hover{
	color:#FFF;
}

#menu li:hover ul{
	display:block;
}
