@charset "UTF-8";

.cbody-container{
	clear:both;
	box-sizing:border-box;
	margin:0px auto 15px;
	padding-top:20px;
}

.cimg-hotpalce{
	width:300px;
	height:200px;
}

.ctable-hotplace{
	width:100%;
}

.ctr-hotplace{
	box-shadow:5px 5px 5px 5px gray;
}

.cbutton-hotplace{
	
}
