@charset "UTF-8";
.header{
	display:inline-block;
	width:100%;
}

.left-header{
	display:inline-block;
	width: 20%;
}

.right-header{
	display:inline-block;
	width:80%;
}

.nav{
	dispaly:inline;
	padding:7px;
	text-align:center;
}

.container{
	width:1080px;
}